@media (min-width: 1200px) {
  }
  @media screen and (min-width:768px) and (max-width:992px){ 

  }

@media screen and (min-width:550px) and (max-width:768px){
} 

@media screen and (min-width:0px) and (max-width:549px){ 
    .loader {
        width: 80px;
        height: 80px;
    }
    .puntos {
        width: 6px;
        height: 6px;
    }
    @keyframes animloader {
        0% {
          box-shadow: -20px -8px ,  -7px 0,  7px 0, 20px 0;
        }
        33% {
          box-shadow: -20px 0px, -7px -8px,  7px 0, 20px 0;
        }
        66% {
          box-shadow: -20px 0px , -7px 0, 7px -8px, 20px 0;
        }
        100% {
          box-shadow: -20px 0 , -7px 0, 7px 0 , 20px -12px;
        }
    }
    .text{
        font-size: 20px;
    }
    .Loading {
        display: flex;
        align-items: flex-end;
        gap: 30px;
    }
    .apk {
        padding: 2px;
    }
    .link{
        font-size: 10px;
    }
    .escritoria{
        display: flex;
    }
}


